In [22]:
import pandas as pd
import numpy as np

In [2]:
# Read the data into a Pandas DataFrame

crowdfunding = pd.ExcelFile("crowdfunding.xlsx")

# Get the sheet names.

crowdfunding.sheet_names

['crowdfunding_info', 'contact_info']

In [9]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 

crowdfunding_info_df = pd.read_excel(crowdfunding, sheet_name = 'crowdfunding_info')
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [10]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.

pd.set_option('max_colwidth', 400)

contact_info_df = pd.read_excel(crowdfunding, sheet_name = 'contact_info', header = 3)
contact_info_df.tail()

                                                                                                  contact_info
995                   {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
996             {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
997  {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
998                       {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
999                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [12]:
crowdfunding_info_df.sample(5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
268,1257,Brown-Mckee,Networked optimal productivity,1500,2708,successful,48,US,USD,1616475600,1641794400,False,False,film & video/documentary
880,733,"Craig, Ellis and Miller",Persevering 5thgeneration throughput,84500,193101,successful,2414,US,USD,1610344800,1623906000,False,False,music/electric music
211,1417,Thompson LLC,Customer-focused impactful benchmark,104400,99100,failed,1625,US,USD,1592024400,1623906000,False,False,theater/plays
79,2885,Soto LLC,Triple-buffered reciprocal project,57800,40228,failed,838,US,USD,1623560400,1637215200,False,False,theater/plays
471,343,Perry and Sons,Configurable static help-desk,3100,9889,successful,194,GB,GBP,1614837600,1641016800,False,True,food/food trucks

In [13]:
contact_info_df.sample(5)

                                                                                          contact_info
294    {"contact_id": 5479, "name": "Jonathan Castellitto", "email": "jonathan.castellitto@libero.it"}
903  {"contact_id": 1657, "name": "Gabriela Padilla", "email": "gabriela.padilla@pearson-russell.com"}
349                {"contact_id": 3186, "name": "Friedl Powell", "email": "friedl.powell@laposte.net"}
363      {"contact_id": 3079, "name": "Siegrun Mota", "email": "siegrun.mota@matthews-montoya.org.au"}
875           {"contact_id": 3826, "name": "Corrado Warren", "email": "corrado.warren@hotmail.com.au"}

In [14]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [15]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [16]:
crowdfunding_info_df.columns.to_list()

['cf_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [35]:
# Get the unique values in the category & sub-category column. 

crowdfunding_info_df['category & sub-category'].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [33]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[['category','subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)

crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [36]:
# Get the distinct values in the category and subcategory columns.

print(crowdfunding_info_df['category'].nunique())
print(crowdfunding_info_df['subcategory'].nunique())

9
24

In [38]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique()
subcategories = crowdfunding_info_df['subcategory'].unique()

print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [41]:
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.

category_ids = np.arange(1,10)
subcategory_ids = np.arange(1,25)

print(category_ids)
print()
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [42]:
# Use a list comprehension to add "cat0" to each category_id. 

cat_ids = ['cat0' + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 

scat_ids = ['scat0' + str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [50]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.

category_df = pd.DataFrame({
    'category_id': cat_ids,
    'category': categories
})

# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.

subcategory_df = pd.DataFrame({
    'subcategory_id': scat_ids,
    'subcategory': subcategories
})

subcategory_df.head(10)

  subcategory_id     subcategory
0         scat01     food trucks
1         scat02            rock
2         scat03             web
3         scat04           plays
4         scat05     documentary
5         scat06  electric music
6         scat07           drama
7         scat08      indie rock
8         scat09       wearables
9        scat010      nonfiction